// hero



.hero{

  background-image: 
  linear-gradient(
    rgba(47, 48, 58, 0.4),
    rgba(47, 48, 58, 0.4)),

  url(../img/opt-1x-2x/hero/header-mobile@1x.jpg);
  background-size: cover;
  background-color: $bg-color-hero-footer;

  margin-left: auto;
  margin-right: auto;
  background-repeat: no-repeat;
  background-size: cover;


  &__title{

  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;

  
  @media screen and(min-width:$desktop){
    font-size: 44px;
    line-height: 1.36;
    margin-bottom: 35px;
    }
  }

  &__container{
    @media screen and(max-width: 1199px){
      padding: 118px 0;
    }
    @media screen and(min-width: $desktop){
      padding: 195px 200px;
    }
    
  }

  &__btn{
    padding: 10px 32px;
  }
}


// Hero


@media screen and(min-width: $mobile){
  .hero{
    background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
  
    url(../img/opt-1x-2x/hero/header-mobile@1x.jpg);
   
    

   
  }
  @media (min-device-pixel-ratio: 2),
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
    .hero{
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../img/opt-1x-2x/hero/header-mobile@2x.jpg);
    
   
        }
     }
  }

  @media screen and(min-width: $tablet){
    .hero{
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../img/opt-1x-2x/hero/header-tablet@1x.jpg);

        }

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
          .hero{
            background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../img/opt-1x-2x/hero/header-tablet@2x.jpg);
   
         }
     }
  }

  @media screen and(min-width: $desktop){
    .hero{
      background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../img/opt-1x-2x/hero/header-desktop@1x.jpg);
        } 
        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx){
          .hero{
            background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
    url(../img/opt-1x-2x/hero/header-desktop@2x.jpg);
         }
        }
      }
