

// Мобильное меню

  @media screen and(max-width:767px){
    .menu-container{

      transform: translateY(-100%);
      visibility: hidden;
      pointer-events: none;
      transition: transform 300ms linear;

      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      max-width: 480px;
      height: 100vh;
      background-color:$secondary-white-color;
      padding: 48px 40px;
    
      &__icon-cross{
        fill: currentColor;
      }
  
      &__btn-cross{
        transform: translateY(0);
        position: absolute;
        top: 21px;
        right: 25px;
        fill:$title-color;
      
        &:focus{
          color:$accent-color;
        }
      }
    }


    @media screen and(max-width:767px){
      .menu-container.is-open{
        transform: translateY(0);
        visibility: visible;
        pointer-events: auto;
        overflow-y: scroll;
      }
  
    .header__mobile-btn,
    .menu-container__btn-cross{
    border: none;
    background-color: transparent;
    padding: 0;
  }
  
  
  .header__mobile-btn:focus{
    color:$accent-color;
  }
  
  .header__mobile-icon{
    fill:$title-color;
    fill:currentColor;
    width: 40px;
    height: 40px;
    }
  }
}
  

  @media screen and(min-width:$tablet){
    
    .menu-container__btn-cross,
    .header__mobile-btn{
      display: none;
    }
  }

  .contact-wrapper{
    @media screen and(min-width:$tablet){
      display: flex;
      align-items: center;
      flex-grow: 1;
    }
  }

.menu-container{
  @media screen and(min-width: $tablet){
    display: flex;
    align-items: center;
    flex-grow: 1;
  }
}
  
  
  
    





