// description

.team-gallery{
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f5f4fa;

  @media screen and(min-width:$desktop){
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

 .description{

  @media screen and(min-width:$tablet){
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-top: -30px;
  }
  


 .description__item{
  background-color:$secondary-white-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  @media screen and(min-width:$mobile) and (max-width:767px){
    &:not(:last-child){
      margin-bottom: 30px;
    }
  }

  @media screen and(min-width:$tablet) and (max-width: 1599px){
    
    margin-right: 30px;
    margin-top: 30px;
    width: calc((100% - 4 * 30px) / 2);
    }

    @media screen and(min-width:$desktop){
      &:not(:last-child){
        margin-right: 30px;
      }
    }

    
  }


  
}



.description-thumb{
  padding-top: $margin-right-bottom;
  padding-bottom: 24px; 
  padding-left: 32px;
  padding-right: 32px;
  text-align: center;

  @media screen and(min-width:$desktop){
    padding-bottom:$margin-right-bottom;
  }

  &__text {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $secondary-text-color; 
  }

  &__description-thumb__text{
    margin-bottom: 16px;
  }

}


.description-title{
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: $title-color;
}

// social-link-icons

.thumb-list{
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width:$desktop){
    justify-content: space-between;
  }
  

  &__icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill:#AFB1B8;
   }
  
}


.thumb-social__link{
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  width: 44px;
  height: 44px;
  background-color: transparent;
  color:#AFB1B8;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
      background-color:$accent-color;
 
  }
}


.thumb-social__link:hover .thumb-list__icon,
.thumb-social__link:focus .thumb-list__icon{
  color:$secondary-white-color;
}

.thumb-list__icon{
  fill: currentColor;
}
