$accent-color: #2196f3;
$bg-color: #ffffff;
$title-color: #212121;
$secondary-text-color: #757575;
$secondary-white-color: #ffffff;
$margin-right-bottom:30px;

$main-font: "Roboto", sans-serif;
$secondary-font: "Raleway", sans-serif;
$bg-color-hero-footer: #2f303a;